@page
@using RazorLinks.Models  
<button hx-post="AddLink" hx-trigger="click" hx-target="#LinkList" hx-swap="beforeend">Add New Url</button>



<div id="response-body">
</div>

<ul id="LinkList">

</ul>

<div id="response-form">
</div>
@functions  {
@*     private List<LinkPayload> links = new(); *@
@*     private string? newUrl; *@
@*     private string? newTitle; *@
@*    *@
@*     private string StyleDisplayNew(string id) *@
@*     { *@
@*         return id.StartsWith("new-") ? "display: flex;" : "display: none;"; *@
@*     } *@
@*     private string StyleDisplay(string id) *@
@*     { *@
@*         return id.StartsWith("new-") ? "display: none;" : "display: flex;"; *@
@*     } *@
@*        *@
}