<div class="card" style="style:table; padding: 1rem; border-radius:1rem;">
    <div class="" style="display: table-row-group; padding: 1rem; border-radius: 1rem;">
        <div class="" style="display: table-row;">
            <div class="" style="display: table-cell; padding: 1rem;">
                <input type="text" placeholder="Header" style="width:19rem;" maxlength="35"/>
            </div>
        </div>
    </div>
</div>
@code {
    
}