<div class="flex flex-col-reverse w-full md:w-auto md:flex-row fixed md:right-2 md:left-2 md:top-2 bg-white md:rounded-full md:items-center items-stretch border-b border-sand">
    <a aria-label="Admin" href="/admin" class="inline-block w-6 h-6 hidden md:flex md:mx-6" data-testid="Route">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25" height="100%" style="display: block; width: auto;">
            <title>Linktree Logo</title>
            <desc>Linktree Logo Symbol</desc>
            <path d="M13.5108 5.85343L17.5158 1.73642L19.8404 4.11701L15.6393 8.12199H21.5488V11.4268H15.6113L19.8404 15.5345L17.5158 17.8684L11.7744 12.099L6.03299 17.8684L3.70842 15.5438L7.93745 11.4361H2V8.12199H7.90944L3.70842 4.11701L6.03299 1.73642L10.038 5.85343V0H13.5108V5.85343ZM10.038 16.16H13.5108V24.0019H10.038V16.16Z" fill="#000000"></path>
        </svg>
    </a>
    <div class="flex flex-grow overflow-x-auto bg-white h-16 md:gap-4">
        <a href="/admin" class="inline-block flex focus:outline-none outline-transparent group items-center justify-center relative text-center py-3 flex-1 md:flex-none after:absolute
              after:bg-black
                after:h-[1px]
                after:rounded-[4px]
                after:bottom-0
                after:left-0
                after:right-0
                after:md:hidden
              " data-testid="Route">
            <span class="flex-col md:flex-row text-xs md:text-sm duration-75 ease-out font-semibold md:group-hover:bg-marble md:px-xs rounded-sm transition-background-color group-focus-visible:ring-2 group-focus-visible:ring-black -tracking-[0.35px] xl:tracking-[0px] flex items-center h-auto md:h-full text-black">
                <span aria-hidden="true" class="p-1 md:pr-2 md:pl-0">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-hidden="false" aria-labelledby="ltclid0_title ">
                        <title id="ltclid0_title">Links</title>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 2H0V1h16v1ZM0 5.5.5 5h15l.5.5v5l-.5.5H.5l-.5-.5v-5ZM1 6v4h14V6H1Zm-1 9h16v-1H0v1Z" fill="currentColor"></path>
                    </svg>
                </span><span>Links</span>
            </span>
        </a>
        <a href="/admin/appearance" class="inline-block flex focus:outline-none outline-transparent group items-center justify-center relative text-center py-3 flex-1 md:flex-none" data-testid="Route">
            <span class="flex-col md:flex-row text-xs md:text-sm duration-75 ease-out font-semibold md:group-hover:bg-marble md:px-xs rounded-sm transition-background-color group-focus-visible:ring-2 group-focus-visible:ring-black -tracking-[0.35px] xl:tracking-[0px] flex items-center h-auto md:h-full text-concrete">
                <span aria-hidden="true" class="p-1 md:pr-2 md:pl-0">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-hidden="false" aria-labelledby="ltclid1_title ">
                        <title id="ltclid1_title">Appearance</title><path fill-rule="evenodd" clip-rule="evenodd" d="M6.008 1a5.009 5.009 0 1 0 0 10.018v1A6.009 6.009 0 1 1 6.008 0v1Zm5.01 5.009A5.009 5.009 0 0 0 6.008 1V0a6.009 6.009 0 0 1 6.01 6.009h-1Zm-4.01.5-.5.5V15.5l.5.5H15.5l.5-.5V7.008l-.5-.5H7.007Zm.5 8.492V7.508H15v7.493H7.507Z" fill="currentColor"></path>
                    </svg>
                </span><span>Appearance</span>
            </span>
        </a>
        <a href="/admin/analytics" class="inline-block flex focus:outline-none outline-transparent group items-center justify-center relative text-center py-3 flex-1 md:flex-none" data-testid="Route">
            <span class="flex-col md:flex-row text-xs md:text-sm duration-75 ease-out font-semibold md:group-hover:bg-marble md:px-xs rounded-sm transition-background-color group-focus-visible:ring-2 group-focus-visible:ring-black -tracking-[0.35px] xl:tracking-[0px] flex items-center h-auto md:h-full text-concrete">
                <span aria-hidden="true" class="p-1 md:pr-2 md:pl-0">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-hidden="false" aria-labelledby="ltclid2_title ">
                        <title id="ltclid2_title">Analytics</title><path clip-rule="evenodd" d="m11 1-1 1v2h-4l-1 1v2h-4l-1 1v6l1 1h4l.5-.5.5.5h4l.5-.5.5.5h4l1-1v-12l-1-1zm0 13h1 2 1v-1-10-1h-1-2-1v1 2 8zm-1-9h-1-2-1v1 2 5 1h1 2 1v-1-7zm-6 3h1v1 4 1h-1-2-1v-1-4-1h1z" fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                </span><span>Analytics</span>
            </span>
        </a>
        <a href="/admin/settings" class="inline-block flex focus:outline-none outline-transparent group items-center justify-center relative text-center py-3 flex-1 md:flex-none hidden md:flex" data-testid="Route">
            <span class="flex-col md:flex-row text-xs md:text-sm duration-75 ease-out font-semibold md:group-hover:bg-marble md:px-xs rounded-sm transition-background-color group-focus-visible:ring-2 group-focus-visible:ring-black -tracking-[0.35px] xl:tracking-[0px] flex items-center h-auto md:h-full text-concrete">
                <span aria-hidden="true" class="p-1 md:pr-2 md:pl-0">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-hidden="false" aria-labelledby="ltclid3_title ">
                        <title id="ltclid3_title">Settings</title><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4607 13.9951L4.53809 13.9951L1.07677 7.99995L4.53809 2.00476L11.4607 2.00476L14.9221 7.99995L11.4607 13.9951ZM0.0664062 8.24995L3.81641 14.7451L4.24942 14.9951L11.7494 14.9951L12.1824 14.7451L15.9324 8.24995V7.74995L12.1824 1.25476L11.7494 1.00476H4.24942L3.81641 1.25476L0.0664062 7.74995V8.24995ZM5.99923 7.99973C5.99923 6.89516 6.89466 5.99973 7.99923 5.99973C9.1038 5.99973 9.99923 6.89516 9.99923 7.99973C9.99923 9.1043 9.1038 9.99973 7.99923 9.99973C6.89466 9.99973 5.99923 9.1043 5.99923 7.99973ZM7.99923 4.99973C6.34238 4.99973 4.99923 6.34288 4.99923 7.99973C4.99923 9.65659 6.34238 10.9997 7.99923 10.9997C9.65609 10.9997 10.9992 9.65659 10.9992 7.99973C10.9992 6.34288 9.65609 4.99973 7.99923 4.99973Z" fill="currentColor"></path>
                    </svg>
                </span><span>Settings</span>
            </span>
        </a>
        <a href="/admin/more" class="inline-block flex focus:outline-none outline-transparent group items-center justify-center relative text-center py-3 flex-1 md:flex-none md:hidden" data-testid="Route">
            <span class="flex-col md:flex-row text-xs md:text-sm duration-75 ease-out font-semibold md:group-hover:bg-marble md:px-xs rounded-sm transition-background-color group-focus-visible:ring-2 group-focus-visible:ring-black -tracking-[0.35px] xl:tracking-[0px] flex items-center h-auto md:h-full text-concrete">
                <span aria-hidden="true" class="scale-[0.6] origin-top -mb-4">
                    <div class="sc-gsTCUz sc-bqyKva irMgwQ iirROM">
                        <span font-family="Inter" font-weight="600" font-size="18px" class="sc-kstrdz dDxUAz">H</span>
                    </div>
                </span><span>More</span>
            </span>
        </a>
    </div>
    <div class="flex items-center justify-between border-b md:border-none border-marble h-14">
        <a aria-label="Admin" href="/admin" class="inline-block flex w-6 h-6 md:hidden mx-4" data-testid="Route">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25" height="100%" style="display: block; width: auto;">
                <title>Linktree Logo</title><desc>Linktree Logo Symbol</desc><path d="M13.5108 5.85343L17.5158 1.73642L19.8404 4.11701L15.6393 8.12199H21.5488V11.4268H15.6113L19.8404 15.5345L17.5158 17.8684L11.7744 12.099L6.03299 17.8684L3.70842 15.5438L7.93745 11.4361H2V8.12199H7.90944L3.70842 4.11701L6.03299 1.73642L10.038 5.85343V0H13.5108V5.85343ZM10.038 16.16H13.5108V24.0019H10.038V16.16Z" fill="#000000"></path>
            </svg>
        </a>
        <div class="flex items-center mx-2 gap-x-2 md:mx-3 relative flex-shrink-0">
            <button class="relative transition duration-75 ease-out w-full h-2xl px-md rounded-xl outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-black antialiased text-primary sidebar__icons--beemer hidden md:block px-3 py-2 max-h-10 relative text-black bg-white hover:bg-chalk active:bg-chalk border border-none w-fit beamer_beamerSelector" type="button" data-beamer-keypress="true">
                <span class="flex items-center justify-center">
                    <span class="block">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-hidden="true" aria-labelledby=" ">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14 .016V15.96l-.768-.488L7 11.516V15.495h-.5.5v.5H3V11H0V4h6.213l7.06-3.612L14 .016Zm-1 14.126-6-3.81V4.72l6-3.07v12.49ZM6 5.006V5H1v5h5V5.006Zm0 6.007V11H4v3.996h2V11.013ZM14.999 6v4h1V6h-1Z" fill="currentColor"></path>
                        </svg>
                    </span><span class="block font-semibold text-md hidden">Updates</span>
                </span>
                <div class="beamer_icon active" style="background-color: rgb(255, 23, 49);" data-beamer-keypress="true">1</div>
            </button>
            <div class="flex h-10">
                <button class="relative transition duration-75 ease-out w-full h-2xl px-md rounded-xl outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-black antialiased text-black min-w-max max-h-10 border-none hover:bg-sand bg-marble active:bg-sand focus-visible:bg-sand focus-visible:outline-none duration-75 ease-out transition !pr-4 !pl-3 bg-white border border-sand hover:bg-chalk hover:border-chalk active:bg-chalk active:border-chalk" type="button">
                    <span class="flex items-center justify-center">
                        <span class="block pr-xs">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-hidden="true" aria-labelledby=" ">
                                <path d="M8.5 0.499756V6.49976H13L7.5 15.4998V9.49976H3L8.5 0.499756Z" fill="currentColor"></path><path d="M8.5 0.499756H9L8.07336 0.239031L8.5 0.499756ZM8.5 6.49976H8L8.5 6.99976V6.49976ZM13 6.49976L13.4266 6.76048L13 5.99976V6.49976ZM7.5 15.4998H7L7.92664 15.7605L7.5 15.4998ZM7.5 9.49976H8L7.5 8.99976V9.49976ZM3 9.49976L2.57336 9.23903L3 9.99976V9.49976ZM8 0.499756V6.49976H9V0.499756H8ZM8.5 6.99976H13V5.99976H8.5V6.99976ZM12.5734 6.23903L7.07336 15.239L7.92664 15.7605L13.4266 6.76048L12.5734 6.23903ZM8 15.4998V9.49976H7V15.4998H8ZM7.5 8.99976H3V9.99976H7.5V8.99976ZM3.42664 9.76048L8.92664 0.760481L8.07336 0.239031L2.57336 9.23903L3.42664 9.76048Z" fill="currentColor"></path>
                            </svg>
                        </span><span class="block font-semibold text-md">Try Pro for free</span>
                    </span>
                </button>
            </div>
            <div>
                <button class="relative transition duration-75 ease-out w-full h-2xl px-md rounded-xl outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-black antialiased text-black max-h-10 px-sm bg-white border border-sand hover:bg-chalk hover:border-chalk active:bg-chalk active:border-chalk" type="button" data-popper-reference="data-popper-reference">
                    <span class="flex items-center justify-center">
                        <span class="block pr-xs">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class=" " role="img" aria-hidden="true" aria-labelledby=" ">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13 1C11.8954 1 11 1.89543 11 3C11 4.10457 11.8954 5 13 5C14.1046 5 15 4.10457 15 3C15 1.89543 14.1046 1 13 1ZM10 3C10 1.34315 11.3431 0 13 0C14.6569 0 16 1.34315 16 3C16 4.65685 14.6569 6 13 6C12.0052 6 11.1235 5.51578 10.5777 4.77018L5.87008 7.12398C5.95456 7.4011 6 7.69524 6 8C6 8.30476 5.95456 8.5989 5.87008 8.87602L10.5777 11.2298C11.1235 10.4842 12.0052 10 13 10C14.6569 10 16 11.3431 16 13C16 14.6569 14.6569 16 13 16C11.3431 16 10 14.6569 10 13C10 12.6952 10.0454 12.4011 10.1299 12.124L5.42233 9.77018C4.87654 10.5158 3.99482 11 3 11C1.34315 11 0 9.65685 0 8C0 6.34315 1.34315 5 3 5C3.99481 5 4.87653 5.48422 5.42233 6.22982L10.1299 3.87602C10.0454 3.5989 10 3.30476 10 3ZM3 6C1.89543 6 1 6.89543 1 8C1 9.10457 1.89543 10 3 10C4.10457 10 5 9.10457 5 8C5 6.89543 4.10457 6 3 6ZM11 13C11 11.8954 11.8954 11 13 11C14.1046 11 15 11.8954 15 13C15 14.1046 14.1046 15 13 15C11.8954 15 11 14.1046 11 13Z" fill="currentColor"></path>
                            </svg>
                        </span><span class="block font-semibold text-md">Share</span>
                    </span>
                </button>
            </div>
            <div class="relative hidden md:flex" data-headlessui-state="">
                <button class="hover:outline-sand hover:outline-2 hover:outline-offset-2 hover:outline rounded-full focus:outline-2 focus:outline-offset-2 focus:outline focus:outline-black focus-visible:outline-black focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline duration-75 ease-out outline-transparent outline outline-2" data-testid="PopOverButton" type="button" aria-expanded="false" data-headlessui-state="" id="headlessui-popover-button-1">
                    <span class="relative w-10 rounded-full overflow-hidden flex">
                        <span class="sr-only">Account Menu</span>
                        <span aria-hidden="true">
                            <div class="sc-gsTCUz sc-bqyKva irMgwQ iirROM">
                                <span font-family="Inter" font-weight="600" font-size="18px" class="sc-kstrdz dDxUAz">H</span>
                            </div>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


@code {

}