
@{
    ViewBag.Title = "title"; 
}

<button hx-get ="@Url.Action("AddLink")" hx-target="#LinkList" hx-swap="beforeend">Add New Url</button>



<div id="response-body">
</div>

<ul id="LinkList">
    
</ul>

<div id="response-form">
</div>
<div id="modals-here"
     class="modal modal-blur fade"
     style="display: none"
     aria-hidden="false"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>