@model LinkPayload
@{
    var payload = (LinkPayload)ViewData["payload"]!;
}
<div class="modal-dialog modal-dialog-centered" data-uploadcontainer-id="@payload.Id">
    <div class="modal-content">
        <div class="modal-body">
            <p>Add Thumbnail image for this link</p>
            <form id='form' hx-encoding='multipart/form-data' hx-post='@Url.Action("UploadPost")'>
                    <input type='file' name='file' accept=".jpg, .jpeg, .png">
                    <button>
                        Upload
                    </button>
                    <progress id='progress' value='0' max='100'></progress>
                </form>
                <script>
                    htmx.on('#form', 'htmx:xhr:progress', function(evt) {
                      htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
                    });
                </script>
        </div>
    </div>
</div>